@page
@model DoneInAGiffy.Pages.Account.EditProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<div class="container mt-3">
    <h1>Edit Profile</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="profile.Username" class="form-label">Username</label>
            <input asp-for="profile.Username" class="form-control" />
            <span asp-validation-for="profile.Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="profile.Email" class="form-label">Email address</label>
            <input asp-for="profile.Email" class="form-control" />
            <span asp-validation-for="profile.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="profile.ProfilePictureLink" class="form-label">Profile Picture Link</label>
            <input asp-for="profile.ProfilePictureLink" class="form-control" />
            <span asp-validation-for="profile.ProfilePictureLink" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="profile.ProfileDescription" class="form-label">Profile Description</label>
            <textarea asp-for="profile.ProfileDescription" class="form-control" rows="3"></textarea>
            <span asp-validation-for="profile.ProfileDescription" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/Account/Profile" class="btn btn-secondary">Back</a>
    </form>
</div>