@page
@model DoneInAGiffy.Pages.Account.ProfileModel
@{
}
<div class="username">
    <label asp-for="profile.Username"></label>
</div>
<div>
    <button>Edit playlist</button>
</div>
<div class="row biography">
   <p>About me: (user's biography here)</p>
</div>
<div class="row">
    <p>My Gifs: (coming soon)</p>
</div>
<div class="row">
    <p>Liked Gifs: (coming soon)</p>
</div>