@page
@model DoneInAGiffy.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="search-bar"></div>

<div class="indexBackground">
    <div class="gif-grid">
        @foreach (var GIF in Model.GIFs)
        {
            <div class="gif-item">
                <a href="/Account/ViewProfile?id=@GIF.UserID">
                    <img src="@GIF.gifLink" alt="@GIF.gifTitle" />
                </a>
                <p>@GIF.gifTitle</p>
            </div>
        }
    </div>
</div>