@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="search-bar"></div> <!-- Added closing tag for the div -->

<div class="indexBackground">
    <div class="gif-grid">
        @foreach (var GIF in Model.GIFs)
        {
            <div class="gif-item">
                <img src="@GIF.gifLink" alt="@GIF.gifTitle" />
                <p>@GIF.gifTitle</p>
            </div>
        }
    </div>
</div>