@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<header text-align="center">
    <img src="~/gifs/DoneInAGiffyLogo.png" alt="Done In A Giffy" class="header-logo" />
    <!--<p>Explore the world of GIFs</p>-->
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</header>


<div class="search-bar">

</div>

<div class="gif-grid">
    <div class="gif-item">
        <img src="~/gifs/Gif1.gif" alt="Gif1" />
        <p>funnyguy21</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif2.1.gif" alt="Gif2" />
        <p>bob43</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif3.1.gif" alt="Gif3" />
        <p>youcantseeme</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif4.1.gif" alt="Gif4" />
        <p>rivetingrosie</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif5.gif" alt="Gif5" />
        <p>sadrat1</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif6.gif" alt="Gif6" />
        <p>thedarknight</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif7.gif" alt="Gif7" />
        <p>outfielder72</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif8.gif" alt="Gif8" />
        <p>laserfrog44</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif9.gif" alt="Gif9" />
        <p>gifmethememes</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif10.gif" alt="Gif10" />
        <p>iconicman12</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif11.gif" alt="Gif11" />
        <p>tigerking82</p>
    </div>
    <div class="gif-item">
        <img src="~/gifs/Gif12.gif" alt="Gif12" />
        <p>airbender11</p>
    </div>
</div>