* {
    font-family: "Arial";
    font-weight: bold;
}

:root {
    --pink: rgb(170, 117, 193);
    --blue: rgb(52, 102, 225);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}
input {
    box-shadow: 0.25vw 0.25vw #dddddd;
}
form {
    margin-left: 20%;
    margin-right: 20%;
}
.col-2, .col-10 {
    margin-top: 1vw;
}
.username {
    width: 50%;
    margin: 0 auto;
    font-size: 40px;
}
.biography {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}
header {
    background-color: #000000;
}
form {
    border: 2px solid black;
    padding: 1vw;
}
nav {
    background-color: rgb(170, 124, 230);
}