@page
@model DoneInAGiffy.Pages.GIFs.AddGIFModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifID"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifID"/>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifTitle"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifTitle" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifDescription"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifDescription" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifUploadDate"></label>
        </div>
        <div class="col-10">
            <input type="date" class="form-control" asp-for="newGIF.gifUploadDate" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifFilePath"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifFilePath" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <button id="btnAdd" class="btn btn-primary">Add GIF</button>
        </div>
    </div>
</form>