@page
@model DoneInAGiffy.Pages.GIFs.AddGIFModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<div class="row m-2">
    <div class="col-2">
        <a asp-page="ViewGIFs" class="btn btn-primary">Back</a>
    </div>
</div>
<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-2">

            <label asp-for="newGIF.gifTitle"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifTitle" />
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifDescription"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifDescription" />
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifLink">GIF Link</label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="newGIF.gifLink" />
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <label asp-for="newGIF.gifCategoryID"></label>
        </div>
        <div class="col-10">
            <select asp-for="newGIF.gifCategoryID" asp-items="@Model.Categories"></select>
        </div>
    </div>

    <div class="row m-2">
        <div class="col-2">
            <button id="btnAdd" class="btn btn-primary">Add GIF</button>
        </div>
    </div>
</form>