@page
@model DoneInAGiffy.Pages.GIFs.EditGIFModel
@{
}
<form method="post" class="form-group">
    <div class="row m-2">
        <div class="col-2">
            <h2>Edit GIF</h2>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="GifItem.gifID"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="GifItem.gifID" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="GifItem.gifTitle"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="GifItem.gifTitle" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="GifItem.gifDescription"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="GifItem.gifDescription" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="GifItem.gifUploadDate"></label>
        </div>
        <div class="col-10">
            <input type="date" class="form-control" asp-for="GifItem.gifUploadDate" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label asp-for="GifItem.gifFilePath"></label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" asp-for="GifItem.gifFilePath" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
</form>